$content-width: 1400px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #111111;
$nav-font-color: #ffffff;
$link-hover-color: #C4BCB1;
$btn-background: #C4BCB1;
$box-color: #FCF7F2;
$headings: 'Merriweather', serif;
$text: 'Montserrat', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $nav-background;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}

.btn-main {
    background-color: $btn-background;
    text-decoration: none;
    color: #ffffff;
    font-family: $text;
    font-size: 1.2rem;
    border: none;
    padding: .5rem 1.5rem;
    transition: all .17s ease-in;

    &:hover {
        border: none;
        background-color: $nav-background;
    }
}

.btn-black {

    &:hover {
        background-color: #ffffff;
        color: $nav-background;
    }
}

.btn-pink {
    
    &:hover {
        background-color: $nav-background;
        color: #ffffff;
    }
}

.btn-footer {
    background-color: transparent;
    font-size: 1rem;
    transition: all .17s ease-in;

    &:hover {
        text-decoration: underline;
    }
}

.black-heading {
    font-size: 2rem;
    font-family: $headings;
    font-weight: 300;
    margin-bottom: 2rem;
}

p {
    font-family: $text;
    line-height: 1.3rem;
    margin-bottom: 1.5rem;
}

.italic {
    font-style: italic;
}

img {
    width: 100%;
}