html,body{
    width: 100%;
    height: 100%;
}
  
.container{
    padding: 75px 0;
    margin: 0 auto;
    width: 1140px;
}
  
.gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
}
  
.item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
    cursor: pointer;
    
  &:hover{
      flex: 7;
  }
}
  
.item-1-gallery { 
    background-image: url('..//img/restaurant-1.jpg');
}
  
.item-2-gallery { 
    background-image: url('..//img/restaurant-2.jpg');
}
  
.item-3-gallery { 
    background-image: url('..//img/restaurant-3.jpg');
}
  
.item-4-gallery { 
    background-image: url('..//img/restaurant-4.jpg');
}
  
.item-5-gallery { 
    background-image: url('..//img/restaurant-5.jpg');
}
  