@media only screen and (min-width: 701px) and (max-width: 1000px) {

    // HOTEL -> HOME

    // SHOWCASE

    .showcase {

        .showcase-content {

            .transparent-box {

                h1 {
                    font-size: 3rem !important;
                }

                p {
                    font-size: 1.2rem !important;
                }
            }
        }
    }

    // PLACE LIKE HOME 

    .place-like-home {

        br {
            display: inline !important;
        }
    }

    // BEST ROOMS

    .best {

        .best-left {

            .grid-container {
                width: 90%;
                margin: 0 auto;
            }
        }

        .best-right {

            br {
                display: inline !important;
            }
        }
    }

    // HOTEL -> HISTORY

    // ABOUT FAMILY DOE

    .about-family {
        
        .about-left {
            text-align: center;

            img {
                width: 80%;
            }
        }
    }

    // HOTEL -> TEAM

    // FOUR IMAGES

    .team-images {
        margin-top: 2rem !important;
        flex-direction: row !important;

        img {
            width: 25%;
        }
    }

    // WHAT OUR TEAM SAYS

    .our-team {
        width: 90%;
        margin: 4rem auto 0 auto;

        br {
            display: none !important;
        }
    }

    // HOTEL -> CONTACT

    // WHERE TO FIND US

    .where-to-find-us {
        margin: 0 0 -.25rem 0 !important;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;

        .find-us-left {
            width: 50%;
        }

        .find-us-right {
            width: 50%;
        }
    }

    // HOTEL -> ROOMS

    // GALLERY

    .gallery {

        .container {

            .gallery-wrap {
                flex-direction: row !important;
            }
        }
    }

    // ROOMS DESCRIPTION

    .rooms-description {

        .room {

            .image {
                width: 90% !important;
                margin: 0 auto;
            }
        }
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1200px) {

    // ROOMS DESCRIPTION

    .rooms-description {

        .room {

            .image {
                width: 90% !important;
                margin: 0 auto;
            }
        }
    }

}

@media only screen and (min-width: 1001px) and (max-width: 1350px) {

    // HOTEL -> HOME

    // SHOWCASE

    .showcase {

        .showcase-content {

            .transparent-box {

                h1 {
                    font-size: 3.5rem !important;
                }

                p {
                    font-size: 1.5rem !important;
                }
            }
        }
    }

    .black-heading {
        font-size: 2.5rem !important;
    }

    // PLACE LIKE HOME 

    .place-like-home {

        br {
            display: inline !important;
        }
    }

    // BEST ROOMS

    .best {
        flex-direction: row !important;
        align-items: center;

        .best-left {
            width: 50%;

            .grid-container {
                width: 100%;
            }
        }

        .best-right {
            width: 50%;
            text-align: left !important;

            br {
                display: none !important;
            }

            .hide {
                display: none !important;
            }
        }
    }

    // BOOKING 

    .book-now {
        margin-top: .25rem !important;
    }

    // CONTACT 

    .we-are-waiting {
        margin-top: .25rem !important;
    }

    // HOTEL -> HISTORY

    // SHOWCASE-CONTENT 

    .showcase-short-content {

        .content-flex {

            br {
                display: block !important;
            }
        }
    }

    // ABOUT FAMILY DOE

    .about-family {
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
        margin-bottom: -.2rem;

        .about-left {
            width: 30%;
        }

        .about-right {
            width: 70%;
            text-align: left !important;

            .hide {
                display: none;
            }

            br {
                display: block !important;
            }
        }
    }

    // HOTEL -> TEAM

    // FOUR IMAGES

    .team-images {
        margin-top: 2rem !important;
        flex-direction: row !important;

        img {
            width: 25%;
        }
    }

    // WHAT OUR TEAM SAYS

    .our-team {
        margin-top: 4rem auto 0 auto;
    }

    // OUR TEAM BOTTOM

    .our-team-bottom {
        margin-bottom: -.25rem !important;
    }

    // HOTEL -> CONTACT

    // WHERE TO FIND US

    .where-to-find-us {
        margin: 0 0 -.25rem 0 !important;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;

        .find-us-left {
            width: 50%;
        }

        .find-us-right {
            width: 50%;
        }
    }

    // HOTEL -> ROOMS

    // GALLERY 

    .gallery {
        display: none;
    }

    // HOTEL -> RESTAURANT

    // CONTACT

    .waiting-restaurant {
        margin-top: -.001rem !important;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1350px) {

    // BOOKING 

    .book-now {

        .booking {

            .booking-flex {
                flex-direction: row !important;
                justify-content: space-between;
            }
        }
    }

    // ROOMS DESCRIPTION 

    .rooms-description {

        .room {
            flex-direction: row !important;
            justify-content: space-between;
            align-items: center;
            
            .room-left {
                width: 50% !important;

                img {
                    width: 100%;
                }
            }

            .room-right {
                width: 50%;
                text-align: left !important;

                .hide {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (min-width: 1351px) and (max-width: 2000px) {

    // HOTEL -> HOME

    // SHOWCASE

    .showcase {

        .showcase-content {
            margin-top: 15rem !important;

            .transparent-box {

                h1 {
                    font-size: 4rem !important;
                }

                p {
                    font-size: 1.5rem !important;
                }
            }
        }
    }

    // PLACE LIKE HOME 

    .place-like-home {

        br {
            display: inline !important;
        }
    }

    .black-heading {
        font-size: 3rem !important;
    }

    // BEST ROOMS

    .best {
        flex-direction: row !important;
        align-items: center;

        .best-left {
            width: 50%;

            .grid-container {
                width: 100%;
            }
        }

        .best-right {
            width: 50%;
            text-align: left !important;

            br {
                display: none !important;
            }

            .hide {
                display: block !important;
            }
        }
    }

    // BOOKING 

    .book-now {
        margin-top: .25rem !important;

        .booking {
            width: 65%;
            margin: 0 auto;

            .booking-flex {
                flex-direction: row !important;
                justify-content: space-between;
            }
        }
    }

    .we-are-waiting {
        margin-top: .25rem !important;

        .transparent-box-brown {

            h1 {
                font-size: 3rem !important;
            }
        }
    }

    // SHOWCASE-CONTENT 

    .showcase-short-content {

        .content-flex {
            width: 100% !important;
            text-align: left !important;
            flex-direction: row !important;
            justify-content: space-between;

            p {
                margin-right: 2rem !important;
                margin-left: 2rem !important;
            }

            br {
                display: hide !important;
            }
        }
    }

    // ABOUT FAMILY DOE

    // ABOUT FAMILY DOE

    .about-family {
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
        margin-bottom: -.2rem;

        .about-left {
            width: 30%;

            img {
                width: 100%;
            }
        }

        .about-right {
            width: 70%;
            text-align: left !important;

            .hide {
                display: inline-block !important;
                margin-bottom: 1.5rem !important;
            }

            br {
                display: none !important;
            }
        }
    }

    // OUR TEAM BOTTOM

    .our-team-bottom {
        margin-bottom: -.25rem !important;
    }

    // HOTEL -> TEAM

    // FOUR IMAGES 

    .team-images {
        flex-direction: row !important;

        img {
            width: 25%;
        }
    }

    // WHAT OUR TEAM SAYS

    .our-team {
        width: 80% !important;
        margin: 2rem auto 0 auto;
    }

    // HOTEL -> CONTACT

    // WHERE TO FIND US

    .where-to-find-us {
        margin: 0 0 -.25rem 0 !important;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;

        .find-us-left {
            width: 50%;
        }

        .find-us-right {
            width: 50%;
        }
    }

    // HOTEL -> ROOMS

    .gallery {
        background-color: $box-color !important;
        display: block !important;
        padding: 0 4rem 0 4rem !important;
        text-align: center;

        .container {

            .gallery-wrap {
                flex-direction: row !important;
            }
        }
    }

    // ROOMS DESCRIPTION 

    .rooms-description {

        .room {
            flex-direction: row !important;
            justify-content: space-between;
            align-items: center;
            
            .room-left {
                width: 50% !important;

                img {
                    width: 100%;
                }
            }

            .room-right {
                width: 50% !important;
                text-align: left !important;

                .hide {
                    display: inline-block !important;
                }

                h1 {
                    font-size: 2.5rem !important;
                }
            }
        }
    }

    // HOTEL -> RESTAURANT

    .gallery-restaurant {
        padding-bottom: 2rem !important;
    }

    // CONTACT

    .waiting-restaurant {
        margin-top: -.001rem !important;
    }
}

@media only screen and (min-width: 2001px) {

    // HOTEL -> HOME

    // SHOWCASE

    .showcase {

        .big-screen {
            margin-top: 10rem !important;

            .transparent-box {
                margin-top: 25rem !important;

                h1 {
                    font-size: 5rem !important;
                }

                p {
                    font-size: 2rem !important;
                }
            }
        }

        .btn-main {
            font-size: 1.8rem !important;
        }
    }

    // PLACE LIKE HOME 

    .place-like-home {

        br {
            display: inline !important;
        }

        p {
            font-size: 1.25rem !important;
            line-height: 1.6rem !important;
        }
    }

    .black-heading {
        font-size: 4rem !important;
    }

    // BEST ROOMS

    .best {
        flex-direction: row !important;
        align-items: center;

        .best-left {
            width: 50%;

            .grid-container {
                width: 100% !important;
            }
        }

        .best-right {
            width: 50%;
            text-align: left !important;

            br {
                display: none !important;
            }

            .hide {
                display: block !important;
            }

            p {
                font-size: 1.25rem !important;
                line-height: 1.6rem !important;
            }
        }
    }

    // BOOKING 

    .book-now {
        margin-top: .25rem !important;

        .booking {
            width: 70% !important;
            margin: 0 auto !important;

            .booking-flex {
                flex-direction: row !important;
                justify-content: space-between;

                .booking-flex-container {

                    p {
                        font-size: 1.5rem !important;
                        padding-bottom: .5rem !important;
                    }
                }
            }
        }
    }

    // CONTACT 

    .we-are-waiting {
        margin-top: .25rem !important;

        .transparent-box-brown {

            h1 {
                font-size: 3.5rem !important;
            }
        }
    }

    // HOTEL -> HISTORY

    // SHOWCASE-CONTENT 

    .showcase-short-content {

        .content-flex {
            width: 100% !important;
            text-align: left !important;
            flex-direction: row !important;
            justify-content: space-between;

            p {
                font-size: 1.25rem !important;
                line-height: 1.6rem !important;
                margin-right: 2rem !important;
                margin-left: 2rem !important;
            }

            br {
                display: hide !important;
            }
        }
    }

    // ABOUT FAMILY DOE

    .about-family {
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
        margin-bottom: -.2rem;

        .about-left {
            width: 30%;

            img {
                width: 100%;
            }
        }

        .about-right {
            width: 70%;
            text-align: left !important;

            .hide {
                display: inline-block !important;
                margin-bottom: 1.5rem !important;
            }

            br {
                display: none !important;
            }

            p {
                font-size: 1.25rem !important;
                line-height: 1.6rem !important; 
            }
        }
    }

    // HOTEL -> TEAM

    // FOUR IMAGES 

    .team-images {
        flex-direction: row !important;

        img {
            width: 25%;
        }
    }

    // WHAT OUR TEAM SAYS

    .our-team {
        width: 60% !important;
        margin: 2rem auto 0 auto;

        .our-team-container {

            .team-left,
            .team-right {
                
                p {
                    font-size: 1.25rem !important;
                    line-height: 1.5rem !important;
                }
            }
        }
    }

    // OUR TEAM BOTTOM 

    .our-team-bottom {
        margin-bottom: -.25rem !important;
    }

    // HOTEL -> CONTACT

    // FORM MESSAGE
    
    .form-message {

        .message {

            .message-container {
                
                p {
                    font-size: 1.5rem !important;
                    padding-bottom: .5rem !important;
                }
            }
        }
    }

    // WHERE TO FIND US

    .where-to-find-us {
        margin: 0 0 -.25rem 0 !important;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;

        .find-us-left {
            width: 50%;
        }

        .find-us-right {
            width: 50%;
        }
    }

    // HOTEL -> ROOMS

    // GALLERY

    .gallery {
        background-color: $box-color !important;
        display: block !important;
        padding: 0 4rem 0 4rem !important;
        text-align: center;

        .container {
            width: 80% !important;

            .gallery-wrap {
                flex-direction: row !important;
            }
        }
    }

    // ROOMS DESCRIPTION 

    .rooms-description {

        .room {
            flex-direction: row !important;
            justify-content: space-between;
            align-items: center;
            
            .room-left {
                width: 50% !important;

                img {
                    width: 100%;
                }
            }

            .room-right {
                width: 50% !important;
                text-align: left !important;

                .hide {
                    display: inline-block !important;
                }

                h1 {
                    font-size: 4rem !important;
                }

                p {
                    font-size: 1.25rem !important;
                    line-height: 1.5rem !important;
                }
            }
        }
    }

    // HOTEL -> RESTAURANT

    // GALLERY

    .gallery-restaurant {
        padding-bottom: 2rem !important;
    }

    // CONTACT

    .waiting-restaurant {
        margin-top: -.001rem !important;
    }
}

    