@import 'config';
@import 'navigation';
@import 'gallery-rooms';
@import 'gallery-restaurant';
@import 'responsive';

// HOTEL -> HOME

// SHOWCASE

.showcase {
    background-image: url('..//img/showcase.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;

    .showcase-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 5rem auto;

        .transparent-box {
            background-color: rgba(0, 0, 0, 0.6);
            padding: 2rem 3rem 1.5rem 3rem;
            margin-bottom: 4rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                color: #ffffff;
                font-family: $headings;
                font-size: 2.5rem;
                font-weight: 300;
                padding-bottom: 1rem;
            }

            p {
                color: #ffffff;
                font-size: 1rem;
            }
        }
    }
}

// PLACE LIKE HOME

.place-like-home {
    margin: 4rem 0;
    padding: 0 2rem;
    text-align: center;

    br {
        display: none;
    }
}

// BEST ROOMS

.best {
    background-color: $box-color;
    display: flex;
    flex-direction: column;

    .best-left {

        .grid-container {
            display: grid;
            grid-template-columns: repeat(2, 50%);

            div {

                img {
                    margin-bottom: -.5rem;
                }
            }
        }
    }

    .best-right {
        padding: 2rem;
        text-align: center;

        br {
            display: none;
        }

        .hide {
            display: none;
        }
    }
}

// BOOKING 

.book-now {
    background-color: $nav-background;

    .booking {
        padding: 3rem;
        text-align: center;

        .booking-flex {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;

            .booking-flex-container {
                margin-bottom: 1rem;

                p {
                    color: #ffffff;
                    font-size: 1rem;
                    margin-bottom: .5rem;
                }

                input,
                select {
                    width: 15rem;
                    height: 2.5rem;
                    border: none;
                    margin-bottom: .5rem;
                }
            }
        }

        .btn-box {
            margin: 2rem 0 1rem 0;
        }
    }
}

// CONTACT

.we-are-waiting {
    background-image: url('..//img/contact-us.jpg');
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .transparent-box-brown {
        background-color: rgba(155, 131, 105, 0.7 );
        padding: 2rem 3.5rem;
        margin: 7rem 0 3rem 0;

        h1 {
            color: #ffffff;
            font-family: $headings;
            font-size: 2rem;
            font-weight: 300;
        }
    }

    .btn-box {
        margin-bottom: 5rem;
    }
}

// FOOTER

footer {
    background-color: $nav-background;
    text-align: center;
    padding: 1rem 0;

    p {
        color: #ffffff;
        margin-bottom: .5rem;
    }
}

// HOTEL -> HISTORY

// SHOWCASE

.showcase-short {
    height: 70vh;
    background-image: url('..//img/showcase-history.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

// SHOWCASE CONTENT 

.showcase-short-content {
    margin-top: 2rem;

    h1 {
        text-align: center;
    }

    .content-flex {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0 2rem;

        br {
            display: none;
        }
    }
}

// ABOUT FAMILY DOE

.about-family {
    margin-top: 2rem;
    background-color: $box-color;
    display: flex;
    flex-direction: column;

    .about-right {
        margin-top: 2rem;
        padding: 0 2rem 2rem 2rem;
        text-align: center;

        br {
            display: none;
        }

        .hide {
            display: none;
        }
    }
}

// HOTEL -> TEAM

// SHOWCASE

.team {
    background-image: url('..//img/showcase-team.jpg');
    background-position: top;
    background-repeat: no-repeat;
}

.team-background {
    padding: 1rem 0;
}

// FOUR IMAGES

.team-images {
    margin-top: 2rem !important;
    display: flex;
    flex-direction: column;
}

// WHAT OUR TEAM SAYS

.our-team {
    margin-top: 4rem;

    .black-heading {
        margin-bottom: 3rem;
        text-align: center;
    }

    .our-team-container {
        margin: 2rem auto;
        padding: 0 2rem;

        .team-left {
            margin-bottom: 2rem;

            .italic {
                margin-top: .2rem;
            }
        }

        .team-right {
            margin-bottom: 2rem;
            text-align: right;
        }
    }
}

// HOTEL -> CONTACT

.contact {
    background-image: url('..//img/showcase-rooms.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
}

// FORM MESSAGE

.form-message  {
    background-color: $box-color;
    text-align: center;
    padding: 2rem 0;

    .message {
        margin-bottom: 2rem;
    }

    p {
        font-size: 1rem;
        margin-bottom: .5rem;
    }

    input {
        margin-bottom: .5rem;
        width: 15rem;
        height: 2.5rem;
        border: 1px solid $nav-background;
    }

    textarea {
        resize: none;
        width: 15rem;
        border: 1px solid $nav-background;
    }
}

// WHERE TO FIND US 

.where-to-find-us {
    margin: 2rem 0 -.25rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;

    .find-us-left {
        margin-bottom: 2rem;

        .find-us-container {
            margin-top: 2rem;

            p {
                margin-bottom: .2rem;
            }
        }
    }

    .find-us-right {

        iframe {
            width: 100%;
        }
    }
}

// HOTEL -> ROOMS

// SHOWCASE

.rooms {
    background-image: url('..//img/showcase-our-rooms.jpg');
    background-position: top;
    background-repeat: no-repeat;
}

// GALLERY

.gallery {
    display: none;
}

// ROOMS DESCRIPTION 

.rooms-description {

    .room {
        display: flex;
        flex-direction: column;

        .room-left {
            position: relative;
            width: 100%;
            cursor: pointer;

            &:hover {
                .image {
                    opacity: 0.6;
                }
    
                .middle {
                    opacity: 1;
                }
            }

            .image {
                opacity: 1;
                display: block;
                width: 100%;
                height: auto;
                transition: .17s ease;
                backface-visibility: hidden;
            }

            .middle {
                transition: .17s ease;
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                text-align: center;
    
                .text {
                    color: $nav-background;
                    font-size: 3rem;
                    padding: 16px 32px;
                }
            }
        }

        .room-right {
            padding: 2rem;
            text-align: center;

            h1 {
                font-size: 2rem;
                margin-bottom: 2rem;
            }

            br {
                display: none;
            }

            .hide {
                display: none;
            }
        }
    }

    .room-pink {
        background-color: $box-color;
    }
}

// HOTEL -> RESTAURANT 

// SHOWCASE RESTAURANT

.restaurant {
    background-image: url('..//img/showcase-restaurant.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
}

.gallery-restaurant {
    padding: 0 1rem 2rem 1rem;

    .btn-box {
        margin-bottom: 4rem;
    }

    h1 {
        margin-bottom: .5rem;
    }

    .contact-box {
        p {
            margin-bottom: .5rem;
        }
    }
}

// HEADING 

.alone {
    margin-top: 4rem;
    text-align: center;
    padding-bottom: 1.5rem;
}

